/* registration form */
div.register_register label span {
    display: inline-block;
    width: 10em;
}
div.register_register label input {
    width: 20em;
}

/* settings form */
div.register_settings fieldset {
    padding: 0.35em 0.625em;
}
div.register_settings legend {
    padding: 2px;
}
div.register_settings label span {
    display: inline-block;
    width: 10em;
}
div.register_settings label input {
    width: 20em;
}

/* login form */
div.register_login p.register_field span {
    display: block;
}
div.register_login p.register_field input {
    width: 100%;
}
div.register_login p.register_buttons,
div.register_login p.register_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logged in form */
div.register_loggedin p.register_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* password forgotten form */
div.register_password_forgotten label span {
    display: inline-block;
    width: 10em;
}
div.register_password_forgotten label input {
    width: 20em;
}

/* change password form */
div.register_change_password label span {
    display: inline-block;
    width: 10em
}
div.register_change_password label input {
    width: 20em;
}

/* active users */
section.register_active_users p:first-child {
    font-weight: bold;
}
section.register_active_users span:after {
    content: ",";
}
section.register_active_users span:last-child:after {
    content: "";
}

/* adminstration */
section.register_admin div.register_table_wrapper {
    overflow-x: auto;
}
section.register_admin th,
section.register_admin td {
    white-space: nowrap;
    padding: 0.2em 0.5em 0.2em 0;
}
section.register_admin table input[type=search],
section.register_admin table select {
    width: 100%;
}
section.register_admin label span {
    display: inline-block;
    width: 10em;
}
section.register_admin select[multiple],
section.register_admin textarea {
    vertical-align: top;
}

section.register_admin fieldset.register_groups {
    display: flex;
    flex-wrap: wrap;
    padding: 0.35em 0.625em;
}
section.register_admin fieldset.register_groups legend {
    padding: 2px;
}
section.register_admin fieldset.register_groups p {
    flex: 10em;
}
section.register_admin fieldset.register_groups span {
    display: inline;
}
section.register_admin p.register_buttons {
    margin: 1em 0;
}

/* page data tab */
#xh_view_register_pd_view .pl_tooltip {
    float: none;
    display: inline;
}
#xh_view_register_pd_view label {
    display: inline;
}
#xh_view_register_pd_view input[name=register_access] {
    width: 99%;
}
