parameters:
  level: 8
  paths:
    - classes/
    - views/
    - admin.php
    - index.php
    - register_pd_view.php
  bootstrapFiles:
    - phpstan.php
  scanFiles:
    - ../../cmsimple/classes/CSRFProtection.php
    - ../../cmsimple/classes/PageDataRouter.php
    - ../../cmsimple/classes/Pages.php
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
